{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Perfil do Livro
{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{{ livro.foto_capa.url }}" style="width:100%">
                <div class="caption">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item">Titulo: {{ livro.titulo }}</li>
                <li class="list-group-item">Nome do Autor(es): {{ livro.autor.nome }}</li>
                <li class="list-group-item">Editora: {{ livro.editora.nome }}</li>
                <li class="list-group-item">ISBN: {{ livro.isbn }}</li>
                <li class="list-group-item">Numero de Paginas: {{ livro.isbn }}</li>
                <li class="list-group-item">Ano de publicação: {{ livro.anoPublicacao }}</li>
                <li class="list-group-item">Preço: R${{ livro.valor|intcomma }}</li>
            </ul>
        </div>
    </div>
{% endblock content %}